
*.o

src/y.output

src/.project

src/.cproject

.metadata/*

gmon.out

*.DS_Store
tests/tests_semantic/gmon.out

*.output

tests/.DS_Store

tests/tests_semantic/results/opc.log

tests/tests_semantic/results/opc.sum

tests/tests_lib_shared_auto.inc

src/lex.yy.c
